<div class="modal-header">
  <!--begin::Modal title-->
  <h2>{{ unidadMedida ? 'Editar' : 'Nueva' }} Unidad de Medida</h2>
  <!--end::Modal title-->
  <!--begin::Close-->
  <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="bsModalRef.hide()">
    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
    <span class="svg-icon svg-icon-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
        <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
      </svg>
    </span>
    <!--end::Svg Icon-->
  </div>
  <!--end::Close-->
</div>
<!--end::Modal header-->
<!--begin::Modal body-->
<div class="modal-body mx-5 mx-xl-15 my-7">
  <!--begin::Form-->
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!--begin::8 group-->
    <div class="d-flex flex-column mb-7 fv-row fv-plugins-icon-container">
      <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
        <span class="required">Nombre</span>
        <i class="fas fa-exclamation-circle ms-2 fs-7" tooltip="Nombre del artículo"></i>
      </label>
      <input type="text" maxlength="50" class="form-control form-control-solid" placeholder="" formControlName="nombre" [ngClass]="{ 'form-select-danger is-invalid' : submitted && f.nombre.errors?.required}">
      <div class="fv-plugins-message-container invalid-feedback" *ngIf="submitted && f.nombre.errors?.required">Ingresar el nombre del artículo</div>
    </div>

    <div class="d-flex flex-column mb-7 fv-row fv-plugins-icon-container">
      <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
        <span class="required">Nombre Corto</span>
        <i class="fas fa-exclamation-circle ms-2 fs-7" tooltip="Nombre corto"></i>
      </label>
      <input type="text" maxlength="25" class="form-control form-control-solid" placeholder="" formControlName="nombreCorto" [ngClass]="{ 'form-select-danger is-invalid' : submitted && f.nombre.errors?.required}">
      <div class="fv-plugins-message-container invalid-feedback" *ngIf="submitted && f.nombreCorto.errors?.required">Ingresar nombre corto para la unidad de medida</div>
    </div>

    <div class="d-flex flex-column mb-7 fv-row" >
      <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
        <span class="required">Estado</span>
        <i class="fas fa-exclamation-circle ms-2 fs-7" tooltip="Estado de la unidad de medida en el sistema"></i>
      </label>
      <select class="form-select form-select-solid" formControlName="idEstado" required >
        <option [value]="0">Inactivo</option>
        <option [value]="1">Activo</option>
      </select>
    </div>

    <div class="text-center pt-15">
      <button matRipple [disabled]="loadingSubmit" type="reset" class="btn btn-light me-3" (click)="bsModalRef.hide()">Cancelar</button>
      <button [disabled]="loadingSubmit" matRipple type="submit" class="btn btn-primary" [attr.data-kt-indicator]="submitted && loadingSubmit">
        <span class="indicator-label">Guardar</span>
        <span class="indicator-progress">Porfavor espere...<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
      </button>
    </div>
    <!--end::Actions-->
  </form>
  <!--end::Form-->
</div>
